<script setup lang="ts">
import {ref} from "vue";

let showElement=ref(true);
let show=ref(false);
let text = ref('Estic molt content de tenir moltes activitats');
let html = ref('<strong>Vull fer deures el cap de setmana</strong>');
function mostrarElement() {
  showElement.value = !showElement.value;
}
function mostrarText() {
  show.value = true;
  text.value = 'Donat al botó de mostrar Text. ' +
      'Estic molt content de tenir moltes activitats';
  html.value = '<strong>Vull fer classes online per setmana santa!</strong>'
}
function mostrarHTML() {
  show.value = true;
  html.value = '<b>Donat al botó de mostrar HTML<b> ' +
      '<strong>Vull fer deures el cap de setmana</strong>';
  text.value = 'Estic molt content de tenir moltes activitats';
}
function ocultar() {
  show.value = false;
}

</script>

<template>
  <div class="container">
    <div>
      <button @click="mostrarElement">Mostra/Amaga</button>
      <div v-show="showElement">
        <p>Prova de v-show</p>
      </div>
    </div>
    <button @click="mostrarText">Mostrar Text</button>
    <button @click="mostrarHTML">Mostrar HTML</button>
    <button @click="ocultar">Ocultar</button>
    <div v-show="show">
      <h3>Text:</h3>
      <p v-text="text"></p>
      <h3>HTML:</h3>
      <div v-html="html"></div>
    </div>
  </div>
</template>

<style scoped>

</style>