<script setup lang="ts">
const valor=defineEmits(['change']);
const props=defineProps(['valorMare'])
function canviarValor(){
  valor('change','Hola, Mare, Tinc Examen de Web (Vue) dijous 21/3/2024!!! :))')
}


</script>

<template>
<div class="container">
  <h3>Component Filla</h3>
  <p>Valor rebut de la mare:{{valorMare}}</p>
  <button @click="canviarValor">Canviar Valor</button>
</div>
</template>

<style scoped>

</style>