<script setup lang="ts">
import {ref} from "vue";
import ProvaFilla2 from "@/components/ProvaFilla2.vue";

const valorMare=ref("Hola, filla, per què estàs tant contenta??")
function canviarMissatge(missatge:string){
  valorMare.value = missatge;
}


</script>

<template>
<div class="container">
  <h2>Component Mare</h2>
  <p>Valor a passar a la mare:{{valorMare}}</p>
  <prova-filla2 :valorMare="valorMare" @change="canviarMissatge"></prova-filla2>
</div>
</template>

<style scoped>

</style>