<script setup lang="ts">

import ProvaFilla from "@/components/ProvaFilla.vue";

const msg:string= "El dimarts hi ha classe de 18:30 a 21:30!! jajaaj";
</script>

<template>
  <prova-filla :varfilla="msg"></prova-filla>

</template>

<style scoped>

</style>