<script setup lang="ts">

import {onBeforeUnmount} from "vue";

onBeforeUnmount(()=>{
  console.log("Aquest component està a punt a ser destruït");
})

</script>

<template>
<div>
  <p> Aquest és el contingut del component Provacomponent2</p>
</div>
</template>

<style scoped>

</style>