<script setup lang="ts">
import {onMounted, ref} from "vue";
let dada = ref();
onMounted(async () => {
  /*
  const response = await fetch('https://jsonplaceholder.typicode.com/todos/2');
  const data = await response.json();
  dada.value = data.title;*/
  await fetch('https://jsonplaceholder.typicode.com/todos/2')
      .then(response => response.json())
      .then(data => {
        dada.value = data.title;
      })
      .catch(error => {
        console.error('Error:', error);
      });
});
</script>

<template>
  <div>
    <h1>Component Asíncron</h1>
    <p>{{ dada }}</p>
  </div>
</template>

<style scoped>

</style>