<script setup lang="ts">

import ProvaFetchFill from "@/components/ProvaFetchFill.vue";
import {onMounted, ref} from "vue";

let dada = ref('');
onMounted(async () => {
  const response = await fetch('https://jsonplaceholder.typicode.com/todos/1');
  const data = await response.json();
  dada.value = data.title;
});

</script>

<template>
  <div>
    <h1>Component Pare</h1>
    <ProvaFetchFill :message="dada" />
  </div>
</template>

<style scoped>
h1{
  background-color: lime;
}
</style>