<script setup lang="ts">

import {computed} from "vue";

const frase = defineModel({default:""});
let len:number = 0;
/*
const longitud = computed(()=> {
    len=frase.value.length;
    return len;
    }
)
*/
function longitud ():number {
  len=frase.value.length;
  return len;
}

</script>

<template>
  <div class="container">
    <input @input="longitud" v-model="frase">
    <p>Longitud de la frase: {{len}}</p>
  </div>

</template>

<style scoped>

</style>