<script setup lang="ts">
import {ref} from "vue";

let check1= ref(false);
let check2= ref(false);
</script>

<template>
  <div class="container mt-2">
    <p v-if="check1 && check2">Els 2 checks a true</p>
    <p v-else-if="check1">Check 1 a true.</p>
    <p v-else-if="check2">Check 2 a true.</p>
    <p v-else>Tots els checks a false</p>
    <input type="checkbox" v-model="check1"/> Check1 <br/>
    <input type="checkbox" v-model="check2"/> Check2 <br/>
  </div>
</template>

<style scoped>

</style>